@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap');
* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
} 

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 1rem;
}

.image img {
  height: auto;
  width: 100%;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}


ul {
    padding: 0%!important;
}

p {
    margin: 0%!important;
}

.link {
    text-decoration: none;
}

.h-100 {
    height: 100%;
}

.demo-wrap {
    overflow: hidden;
    position: relative;
    background-color: #007706;
  }
  
  .demo-bg {
    opacity: 0.2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .demo-content {
    position: relative;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.login-text {
    color: white;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.text-yayasan {
    font-size: small;
}

.img-yayasan {
    width: 35px;
    height: 50px;
}

.no-padd {
    padding: 0%!important;
}

.card-register-login {
    border: none!important;
    width: 100%;
    background-color: white;
    height: 600px;
}

.card-register {
    border: none!important;
    width: 60%;
    background-color: white;
    height: 550px;
}

.text-register {
    font-weight: bolder;
    font-size: larger;
    color: #007706;
}

.login-alert {
    margin-top:160px;
}

.text-white {
    color: white;
}

.text-green-base {
    color: #339238;
}

.text-yg-green-base {
    color: #66AD6A;
}

.text-grey {
    color: #8a8989!important;
}

.text-yg-grey {
    color: #b6b6b6 ;
}

.fs-7 {
    font-size: smaller;
} 

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.center {
    text-align: center;
}

.form-control {
    background-color: #EEEEEE!important;
    border: 3px solid #EAEAEA!important;
}

.form-control .form-input {
    background-color: #EEEEEE!important;
    border: 3px solid #EAEAEA!important;
    padding: 10px!important;
}

.btn-yg-green {
    background-color: #E6F2E7!important;
    color:#007706!important;
    font-weight: bold!important;
}

.btn-yg-blue {
    background-color: #ddf9ff!important;
    color:#0190ab!important;
    font-weight: bold!important;
}

.btn-yg-grey {
    background-color: #f2f2f2!important;
    color:grey!important;
    font-weight: bold!important;
}

.btn-old-green {
    background-color: #339238!important;
    color:#E6F2E7!important;
    font-weight: bold!important;
}

.btn-yg-green:hover {
    background-color: #5BA75F!important;
    color:#E6F2E7!important;
    font-weight: bold!important;
}

.btn-old-green:hover {
    background-color: #E6F2E7!important;
    color:#339238!important;
    font-weight: bold!important;
}

.btn-yg-blue:hover {
    background-color: #0190ab!important;
    color:#ddf9ff!important;
    font-weight: bold!important;
}

.btn-yg-grey:hover {
    background-color: grey!important;
    color:#f2f2f2!important;
    font-weight: bold!important;
}


/* home */

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

.img-brand {
    width: 40px;
    height: 50px;
}

.nav-link {
    color: #339238!important;
}

.borderless {
    border: none!important;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.bg-wave {
    background-image: url('../img/changed-wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
    filter: opacity(80%);
}

.bg-yg-green {
    background-color: #E6F2E7!important;
}

.bg-grey {
    background-color: #F6F6F6!important;
}

/* footer */

ul.icons-footer li {
    display: inline;
}

/* about us */

.underlined {
    border-bottom: 3px solid #5BA75F;
}

.border-image {
    border: 1px solid #5BA75F;
    padding: 10px;
}

/* rekening */

.table-rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #007706;
  }
  
  th, td {
    padding: 1em;
    margin: 20px!important;
  }

/* program */

.progress-bar {
    background-color: #66AD6A!important;
}

.progress {
    height: 50px;
}

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.card-slider {
    width: 295px;
}

ul.cs-hidden {
    height: 500px!important;
}

.justify {
    text-align: justify;
}

.vertical-center {
    vertical-align: middle;
}

.progress {
    height: 12px!important;
}

.border-image {
    border: 2px solid #5BA75F;
    padding: 3px;
}

.tabs-button {
    color: #66AD6A;
}

.nav-pills .nav-link.active {
    background-color: #5BA75F!important;
    color: #ddf9ff!important;
}

.tabs-button:hover {
    background-color: #5BA75F!important;
    color: #ddf9ff!important;
}

/* gallery */

.gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
    .gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    .gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    .gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    .gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }